<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <title>Login</title>

  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/assets/css/style.css">
</head>

<body ng-controller="AuthController as ac">
  <div id="main">
    <div ui-view="nav"></div>
    <div ui-view="content"></div>
  </div>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.min.js"></script>

  <script src="public/dist/core/core.min.js"></script>
  <script src="public/dist/modules.min.js"></script>
  <script src="public/dist/config/config.min.js"></script>
  <script src="public/dist/auth/auth.min.js"></script>
  <script src="public/dist/shared/shared.min.js"></script>
</body>

</html>
