<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <title><%= name %></title>

  <link rel="stylesheet" type="text/css" href="public/assets/css/app.css">
</head>

<body>
  <div class="container">
    <div ui-view="content"></div>
  </div>

  <script src="public/assets/js/angular.min.js"></script>
  <script src="public/assets/js/angular-resource.min.js"></script>
  <script src="public/assets/js/angular-ui-router.min.js"></script>
  <script src="public/assets/js/angular-deferred-bootstrap.min.js"></script>

  <script src="public/dist/core/core.min.js"></script>
  <script src="public/dist/modules.min.js"></script>
  <script src="public/dist/config/config.min.js"></script>
  <script src="public/dist/client.min.js"></script>
  <script src="public/dist/shared/shared.min.js"></script>
</body>

</html>
